<div class="container">
<h2>New asset tags</h2>
<%= form_for @asset_tag, :url =>{:action => "create", :id =>@asset_tag} do |f| %>
<%= f.text_field 'id', class: "form-select", list: "tags" %>
<datalist id="tags">
<% @tags.each do |tag| %>
  <option value="<%= tag.name %>">
<% end %>
</datalist>
<div class="btn-group">
<%= f.submit "Save", class: "btn btn-success" %>
<%= link_to 'Back', {:action => 'index'}, class: "btn btn-secondary" %>
</div>

<% end %>


