<div class="container">
<h2>Edit project</h2>

<%= form_for @asset, :url =>{:action => "update", :id =>@asset} do |f| %>
<div class="input-group mb-3">
<span class="input-group-text">Name</span>
<%= f.text_field 'name', class: "form-control" %>
</div>

<h3>Tags</h3>
<table class="table table-striped">

<thead>
<tr>
<th>Id</ih>
<th>Description</th>
</tr>
</thead>

<tbody>
<% if @asset.asset_tags %>
<% @asset.asset_tags.each do |asset_tag| %>
<tr>
<td><%= link_to asset_tag.id, {:action => 'edit', :id => asset_tag.id} %></td>
<td><%= asset_tag.desc %></td>
</tr>
<% end %>
<% end %>
</tbody>

</table>

<p/>

<div class="input-group mb-3">

<%= f.text_field 'asset_tag_id', class: "form-select", list: "tags" %>
<datalist id="tags">
<% @tags.each do |tag| %>
  <option value="<%= tag.name %>">
<% end %>
</datalist>
<%= link_to 'Add', {:action => 'add_asset_tag'}, class: "btn btn-success" %>
</div>

<p/>

<div class="btn-group">
<%= f.submit "Save", class: "btn btn-success" %>
<%= link_to 'Back', {:action => 'index'}, class: "btn btn-secondary" %>
</div>
<% end %>


</div>
